nav {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 1.0875rem 1.45rem;
}

.navlinks a {
  margin-left: 20px;
  text-decoration: none;
}

.navlinks > a:hover {
  border-bottom: 2px solid var(--brand-action);
}

.resume-link {
  padding: 10px;
  border: 2px solid var(--brand-dark);
}

.resume-link:hover {
  background-color: var(--brand-action);
}

@media screen and (min-width: 500px) {
  nav {
    padding: 0px 2rem 1.45rem;
  }
}
