:root {
  --brand-dark: #102542;
  --brand-light: #F7F7F7; /* CCD6EB */
  --brand-action: #F87060;
}

html,
body {
  margin: 0;
}

html * {
  color: var(--brand-dark);
  font-family: Andika;
}

a:visited {
  color: inherit;
}

.layout-wrapper {
  display: flex;
  justify-content: center;
}

.left-sidebar {
  position: fixed;
  bottom: 5px;
}

.layout {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 1rem 1.45rem;
  padding-top: 0;
}

.logo-link-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}

.logo-link-container svg {
  height: 24px;
}

.logo-link-container li:hover svg {
  fill: var(--brand-action);
}

.logo-link-container li {
  margin-right: 20px;
}

.right-sidebar {
  display: none;
  right: 30px;
  bottom: 30px;
  position: fixed;
}

.right-sidebar a {
  text-decoration: none;
  writing-mode: vertical-lr;
}

.right-sidebar a:hover {
  border-left: solid 2px var(--brand-action);
}

@media screen and (min-width: 600px) {
  .layout {
    padding: 0px 100px 1.45rem;
    padding-top: 0;
  }
  .left-sidebar {
  left: 30px;
  bottom: 30px;
  }
  .logo-link-container {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }
  .logo-link-container li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .right-sidebar {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .layout {
    padding: 0px 200px 1.45rem;
    padding-top: 0;
  }
}