:root {
  --brand-dark: #102542;
  --brand-light: #F7F7F7; /* CCD6EB */
}

html,
body {
  margin: 0;
}

html * {
  color: var(--brand-dark);
}

.layout {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 1rem 1.45rem;
  padding-top: 0;
}

@media screen and (min-width: 600px) {
  .layout {
    padding: 0px 100px 1.45rem;
    padding-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .layout {
    padding: 0px 200px 1.45rem;
    padding-top: 0;
  }
}