.writing-link {
  text-decoration: none;
  color: inherit;
}

#non-code {
  margin-bottom: 20px;
}

.writing-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.writing-tag {
  border-radius: 2px;
  border: 1px solid var(--brand-fg);
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.writing-tag:hover,
.writing-tag.selected {
  background-color: var(--brand-action);
}

.writing-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.writing-search svg {
  margin-right: 5px;
}

.writing-search input {
  width: 100%;
}