.writing-link {
  text-decoration: none;
  color: inherit;
}

.writing-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.writing-tag {
  border-radius: 2px;
  border: 1px solid var(--brand-fg);
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.writing-tag:hover,
.writing-tag.selected {
  background-color: var(--brand-action);
}

.writing-cards {
  padding-bottom: 50px;
}

.writing-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  transition: all ease-in-out 0.2s;
}

.writing-card:hover {
  background-color: var(--brand-fg);
}

.writing-card:hover * {
  color: var(--brand-bg);
}

.writing-card * {
  color: var(--brand-fg);
  margin: 0;
  transition: all ease-in-out 0.2s;
}

.writing-card-info {
  display: flex;
  flex-direction: column;
}

.writing-card-title {
  font-family: "Odibee Sans";
  letter-spacing: 2px;
  font-size: 20px;
}

.writing-card-tags {
  font-family: 'Unica One';
}

.writing-card-tags svg {
  transform: translateY(5px);
  margin-right: 5px;
}